name: clang-format

on: 
  push:
    branches:
    - main
    - feature/*
    paths-ignore:
    - '**.md'
  pull_request:
    branches: [main]
    paths-ignore:
    - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.15
      with:
        source: '.'
        exclude: ''
        extensions: 'h,hpp,cpp'
        clangFormatVersion: 15
        style: file
